html, body {
    margin: 0;
    padding: 0; 
}

html {
    font-size: 10px;
    background-color: antiquewhite
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

p, input, li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    color: black;
    font-size: 12px;
    text-align: center;
}

h1 {
    font-family: fantasy;
    font-size: 4rem;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 10px black;
}

ul {
    background: rgb(206, 130, 30);
    font-size: 7px
}

p, li {
    font-size: 15px;
    line-height: 2;
    font-family: fantasy;
    text-align: center;
}

/* HEADER LAYOUT */

nav, article, aside, footer {
    background-color: rgb(206, 130, 30);
    padding: 5%;
    margin: 0em;
}

nav {
    height: 25px;
    font-family: fantasy;
    flex: 100%;
    display: flex;

}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex: 2

}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a, nav span {
 display: inline-block;
 font-size: 15px;
 height: 2rem;
 line-height: 1.7;
 text-transform: uppercase;
 text-shadow: 2px 2px 10px black;
 color: black;
 text-decoration: black;  
}

/* MAIN */


main {
    display: flex;
}

article {
    flex: 4;
}

article h2 {
    font-family: cursive;
    font-size: 30px;
    text-shadow: 2px 2px 10px;
    
}

article q {
    font-size: 20px;
    text-shadow: 2px 2px 10px black;
    font-family: cursive
}

article img {
    max-width: 50%;
}
article a {
    display: block;
}

aside {
    text-shadow: 2px 2px 10px;
    font-size: 2rem;
    display: block;
    float: left;
    flex: 1;
    border-left-color: brown;
    border-top-color: brown;
    margin-left: 3px;
    margin-top: 3px;
    background-color: rgb(206, 130, 30);
}


footer {
    margin-top:5px;
}

/***/

/*button {
    background-color: coral;
    border: black;
    padding: 15px 32px;
    display: inline-block;
    font-family: cursive;
    font-size: 16px
}*/