#nav, #main, #more-art, #aside, #footer {
    box-shadow: 2px 2px 1px 1px #0a0a0a4a;
    border-radius: 10px;
    border: 4px solid #750811;
    padding: 4px;
    background-color: #d68e5e67;

}

img {
    max-width: 100%;
    border-radius: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif
}
#part {
    background: url("images/joelbg.jpg");
    height: max-content;
}
#wrapper {
    position: absolute;
    display: grid;
    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "main main aside"
    "more-art more-art aside"
    "footer footer footer";
    grid-template-columns: 500px;
    grid-gap: 10px;
}
#header {
    color: black;
    text-shadow: burlywood;
    padding: 5px;
    grid-area: head;
    font-size: 40px;
    font-family: cursive;
}


#nav {
    font-size: 2rem;
    grid-area: nav;

}
#nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
}

a {
    box-shadow: 2px 2px 1px #0a0a0a4a;
    border-radius: 10px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    text-decoration: none;
    border: 4px solid #750811;

}
a:hover {
    background-color: #7508119c;
}
#nav, li {
    list-style: none;
    text-align: center;
    text-shadow: 1px 1px 1px  #750811;
    padding: 4px;
    align-content: center;

    

}

#main h1 {
    font-size: 50px;
    text-align: center;
    padding: 4px;
    text-shadow: 1px 1px 1px  #750811;
}

#main {
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    grid-area: main;
}




#aside h2 {
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px  #750811;
}

#aside {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    padding: 10px;
    margin-top: 10px;
    grid-area: aside;

}

#polaroid {
    box-shadow: 2px 2px 1px #0a0a0a4a;
    background-color: #750811;
    margin-bottom: 40px;
    border-radius: 10px;
}

#polaroid-a {
    margin: 50px;
    box-shadow: 2px 2px 1px #0a0a0a4a;
    background-color: #750811;
    border-radius: 10px;
    margin-bottom: 50px;
    float: left;
}
#more-art {
    padding: 10px;
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
    grid-area:  more-art;
}
#more-art h3,{
    text-shadow: 1px 1px 1px  #750811;
    text-align: center;
    font-size: 40px;
 }



 #footer {
    margin-top: 10px;
    grid-area:  footer;
}

#footer p {
    padding-left: 1B0px;
}

