img {
    max-width: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/galaxybg.jpg");
}
#wrapper {
    display: grid;
    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "main main aside"
    "more-art more-art aside"
    "footer footer footer";
    grid-template-columns: 300px 300px;
    grid-auto-columns: minmax(200px, auto);
}
#header {
    background-color: bisque;
    opacity: 0.8;
    grid-area: head;
}

#nav {
    background-color: bisque;
    opacity: 0.8;
    grid-area: nav;

}

#nav ul {
    text-align: center;

}

#nav li {
    margin: 60px;
    display: inline;
    
}

#main {
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: bisque;
    opacity: 0.8;
    grid-area: main;
}

#aside {
    padding: 10px;
    margin-top: 10px;
    background-color: bisque;
    opacity: 0.8;
    grid-area: aside;
}
#more-art {
    margin-top: 10px;
    margin-right: 10px;
    background-color: bisque;
    opacity: 0.8;
    grid-area:  more-art;
}

#footer {
    margin-top: 10px;
    background-color: bisque;
    opacity: 0.8;
    grid-area:  footer;
}

