

.header {
    height: 150px;
    width: 1000px;
    font: 20px;
    background-color: blanchedalmond;
    border: solid black;
    background-image: url(images/babyelephant.jpg.svg);
    background-repeat: no-repeat;
    background-position: right top;
    
}

.menu {

    height: 60px;
    width: 1000px;
    font: 20px;
    background-color: burlywood;
    border: solid black;
}

.left-content {
    height: 400px;
    width: 200px;
    background-color: burlywood;
    border: solid black;
    float: left;
}

.content {
    height: 400px;
    width: 794px;
    background-color: burlywood;
    border: solid black;
    float: left;

}

.footer {
    height: 40px;
    width: 1000px;
    border: solid black;
    background-color: blanchedalmond;
    float: left;
}