html {
    margin: 0%;
    padding: 0%;

}
html body {
    background-color: lightgray;
    margin: 0 auto;
    padding: 8px;
    border: 4px solid black;
    width: 900px;
    height: 600px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#header {
    background-color: aquamarine;
    border: 1px solid black;
    padding-left: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#header #h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav {
    font-size: 20px;
}



#nav li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
#content {
    display: inline;
    height: 1em;
}
#footer li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: bottom;
}
.article{
    display: inline;
}
.sidebar {
    display: inline;
    float: right;
    text-align: left;
    border: solid black;
    width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}