#wrapper {
    display: grid;
    align-items: center;
}

#page {
    display: grid;
    width: 900px;
    height: 500px;
    grid-template:  [header-left] "head head" 30px [header-right]
                    [main-left]   "nav  main" 1fr  [main-right]
                    [footer-left] "nav  foot" 30px [footer-right]
                    / 120px 1fr;
}

header {
    background-color: green;
    grid-area: head;
}

nav {
    background-color: red;
    grid-area: nav;
}

main {
    background-color: yellow;
    grid-area: main;
}

footer {
    background-color: black;
    grid-column: foot;
}